

#body {
  font-family: 'Fira Mono', monospace;
  font-size: 9px;
}

#infoView {
  font-family: 'Fira Mono', monospace;
  text-align: right;
  font-size: 9px;
  position: absolute;
  top: 2px;
  right: 9px;
}