#root {
  font-family: 'Fira Mono', monospace;
  font-size: 9px;
  margin: 0;
}

#svg_view {
  background-color: #f1f1f1;;
}

#fileInput {
  position: absolute;
  left: 4px;
  top: 4px;
}

#infoView {
  text-align: right;
  position: absolute;
  top: 2px;
  right: 9px;
}